<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src="addressbook.js"> </script>
	<title>Contact Book</title>
</head>
<body ng-app="contactApp" ng-controller="FormCtrl">
	<div class="container">
		<div class="wrapper">
			<form name="myForm" ng-submit="addItem()"> 
			<!-- ng-show="showForm"> -->
			<h1> Contact Book </h1>
			<div> Name: <input type="text" ng-model="name"> </div>
			<div> Phone Number: <input type="text" ng-model="phone"> </div>
			<button ng-click="addName()">Add Contact</button>
			<div> Search: <input ng-model="search"> </div>
			</form>
			<ol ng-repeat="item in items | filter:search"> {{item}}
			</ol>
		</div>	
	</div>
</body>
</html>